.venv/
MNIST/
__pycache__/
*.pyc
*.pth
*.onnx
models/*.onnx
models/*.pth
.vscode/
env/
/.idea/
*.egg-info/
dist/
build/
pip-wheel-metadata/node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
